<nav class="navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a class="navbar-brand" href="#">
          <img
            src="../assets/images/logo.gif"
            width="150"
            height="70"
            class="d-inline-block align-top"
            alt=""
          />
        </a>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-6">
            <ul class="nav justify-content-center">
              <div class="row">
                <li class="nav-item">
                  <!-- <div class="d-flex form-inputs">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Search any product..."
                    />
                    <i class="fas fa-search fa-lg"></i>
                  </div> -->
                  <form class="form-inline">
                    <input
                      class="
                        form-control
                        mr-sm-2
                        rounded-pill
                        border-color
                        shadow-none
                      "
                      type="search"
                      placeholder="type here to search"
                      aria-label="Search"
                    />
                    <button type="button " class="btn back-color rounded-pill ml-n5">
                      <i class="fas fa-search fa-lg px-1 text-light"></i>
                    </button>
                  </form>
                </li>
              </div>
              <div class="row">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-dark"
                    href="#"
                    id="navbarDropdown1"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    লেখক
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item dropdown px-4">
                  <a
                    class="nav-link dropdown-toggle text-dark"
                    href="#"
                    id="navbarDropdown2"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    বিষয়
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-dark"
                    href="#"
                    id="navbarDropdown3"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    প্রকাশনী
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <div class="col-6">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link icon-color" href="#"
                  ><i class="far fa-bell fa-lg"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link icon-color" href="#"
                  ><i class="fas fa-shopping-cart fa-lg"></i
                ></a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="
                    nav-link
                    dropdown-toggle
                    rounded-pill
                    shadow
                    bg-white
                    rounded-lg
                  "
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="far fa-user fa-lg icon-color"></i>
                  <span class="pl-5">A R Mamun</span></a
                >
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<hr style="border-bottom: 2px solid #2487fc; margin: 0" />
