<div class="container my-3">
  <div class="shadow pb-3 mb-5 bg-white rounded-lg">
    <span
      class="text-center btn btn-danger rounded-lg text-uppercase mb-3"
      style="width: 100%"
    >
      <b>my cart</b>
    </span>
    
    <div class="row">
      <div class="container mx-5">
        <span class="text-capitalize h5">1 item</span>
        <span class="h5 float-right">Total: 100 TK.</span>
        <app-item></app-item>
      </div>
    </div>
    <div class="row pr-3">
      <div class="container mx-5">
        <div class="row d-flex flex-row-reverse">
          <button class="btn btn-primary rounded-pill mt-5 mb-4 text-uppercase d-sm-block">
            <b class="px-lg-5 px-4">go to shipping </b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
